
@{
    ViewBag.Title = "Payments";
}


<div style="margin-top: 5%">
    <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-plus"></span> Add payment
    </button>
</div>

<div class="container">
    <h2>Payments</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Apartment</th>
                <th>Services to be paid</th>
                <th>Amount of money to be paid</th>
                <th>Paid</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ap3(bl1)</td>
                <td>Janitor</td>
                <td>20</td>
                <td>Yes</td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td>ap3(bl1)</td>
                <td>Janitor</td>
                <td>20</td>
                <td>Yes</td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td>ap3(bl1)</td>
                <td>Janitor</td>
                <td>20</td>
                <td>Yes</td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

